.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.title {
  color: rgb(4, 31, 0);
  font-size: 4rem;

  font-family: "Poor Story", cursive;
  font-weight: bold;
  margin: 0;
  padding: 30px;
}
